<article class="large-body">
    <h1 data-id="{{id}}">
        {{title}}
    </h1>
    <p class="description">
        {{description}}
    </p>
</article>
<sidebar class="sidebar">
    {{#each data as |note|}}
        <div class="row" data-id="{{note.id}}">
            <div>{{note.title}}</div>
            <div>{{note.shortDescription}}</div>
        </div>
    {{/each}}
</sidebar>